.loginDropdown {
  position: relative;

  .popup {
    position: absolute;
    width: 200px;
    right: 0px;
    top: 50px;
    background-color: $white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    .current {
      text-align: center;
      padding: 10px 15px;
      border-bottom: 1px solid $light-gray;

      button.switchButton {
        font-size: 14px;
        border-bottom: 0 !important;
        background-position: 150px 15px;
      }
    }

    button.switchButton {
      display: block;
      width: 100%;
      padding: 10px 0;
      background-color: $white;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom:1px solid $light-gray;
      background-image: url('/assets/img/caret.svg');
      background-repeat: no-repeat;
      background-position: 165px 15px;
      color: $gray;
      font-size: 14px;
    }

    button.switchButton:hover {
      border: none !important;
      color: $gray;
      font-weight: 500 !important;
    }


    .loginForm {
      text-align: center;
      padding: 10px 15px;
      
      button.showLogin {
        background-color: $white !important;
        border:none;
        color: $gray;
      }
      
      button.showLogin.btn.btn-primary:hover {
        background: none !important;
        color: $gray;
        font-weight: 400 !important;
      }

      h3 {
        font-size: 14px;
      }
      
      .rskinput {
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        padding: 5px;

        input {
          border:none;
          width: 125px;
        }
        span {
          color: $blue;
        }
      }

      .btn.btn-primary {
        margin-top: 10px !important;
        background-color: #C4C4C4;
        border-color: #C4C4C4;
        border-radius: 15px;
      }

      .btn.btn-primary:hover {
        background-color: $blue !important;
        border-color: $blue;
      }

      p.error {
        color: $red;
      }
    }
  }
}


// mobile styles
@media (max-width: 767.98px) {
  .loginDropdown {
    .popup {
      position: relative;
      top: 10px;
      width: 90%;
    }
  }
}